* {
  margin: 0;  /* Espaço por fora */
  padding: 0; /* Espaço por dentro */
}

.user-container{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

